.advantages__items {
  margin: 0;
}

.advantages__description {
  margin-bottom: 7px;
}

.advantages__list {
  margin-bottom: 37px;
}

@media (min-width: $tablet-width) {
  .advantages__list {
    margin-top: 5px;
  }

  .advantages__description {
    margin-bottom: 26px;
    margin-top: 50px;
  }
}
