.sight-list {
  list-style: none;
  text-align: center;
  background-color: $color-grey;
  padding-left: 0;
  width: 320px;
  margin: 0 auto;
}

.sight-list__item {
  padding: 11px 0;
  width: 280px;
  margin: 0 auto;
  border-bottom: 1px solid #d6d6d6;

  &:last-child {
    border: none;
  }
}

.sight-list__wrapper {
  width: 255px;
  margin: 0 auto;
}

.sight-list__header {
  font-size: 18px;
  line-height: 26px;
  color: $color-black;
  font-weight: bold;
  margin-bottom: 0;
}

.sight-list__number {
  margin-top: 11px;
}

.sight-list__text {
  font-size: 14px;
  color: #333333;
  line-height: 21px;
  margin-bottom: 17px;
}

@media (min-width: $tablet-width) {
  .sight-list {
    display: flex;
    text-align: center;
    justify-content: space-around;
    padding-top: 21px;
    width: 768px;
  }

  .sight-list__wrapper {
    width: 160px;

    &--short {
      width: 130px;
    }
  }

  .sight-list__header {
    margin: 0 auto;
    font-size: 21px;
    padding-top: 12px;
  }

  .sight-list__number {
    margin-top: 13px;
  }

  .sight-list__text {
    margin-top: 12px;

    &:last-child {
      margin-top: 23px;
      margin-bottom: 32px;
    }
  }
}

@media (min-width: $desktop-width) {
  .sight-list {
    width: 1200px;
    padding-top: 16px;
  }

  .sight-list__header {
    font-size: 21px;
    width: 138px;
    padding-top: 17px;
  }

  .sight-list__wrapper {
    width: 284px;

    &--short {
      width: 274px;
    }
  }

  .sight-list__item {
    width: 284px;

    &:nth-child(2) {
      width: 284px;
    }
  }

  .sight-list__text {
    &:last-child {
      margin-top: 22px;
      margin-bottom: 53px;
    }
  }
}
