.site-list {
  list-style: none;
  text-align: center;
  width: 320px;
  margin: 0 auto;
}

.site-list__link {
  display: block;
  padding: 7px 18px;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  color: $color-white;
  line-height: 40px;
  background-color: $color-blue;
  border-top: 1px solid #9ac2db;
  border-bottom: 1px solid #678fa8;

  &--shadow {
    box-shadow: inset 0 -3px 4px -1px rgba(0, 0, 0, 0.2);
  }

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #5496bd;
  }
}

@media (min-width: $tablet-width) {
  .site-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 768px;
    z-index: 2;
  }

  .site-list__item {
    width: 20%;

    &:nth-child(3) {
      margin-left: auto;
    }

    &:nth-child(3) .site-list__link {
      padding-left: 27px;
    }
  }

  .site-list__link {
    font-size: 14px;
    line-height: 26px;
    color: $color-black;
    background: none;
    border: none;
    padding-top: 14px;
    padding-bottom: 15px;

    &--shadow {
      box-shadow: none;
    }

    &:hover {
      color: #81b3d2;
      background-color: $color-white;
    }

    &:active {
      color: rgba(0, 0, 0, 0.3);
      background-color: $color-white;
    }

    &--active {
      color: #766357;

      &:hover {
        color: #604e43;
        background-color: $color-white;
      }

      &:active {
        color: rgba(118, 99, 87, 0.3);
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .site-list {
    width: 1200px;
  }

  .site-list__item {
    &:nth-child(3) .site-list__link {
      padding-left: 20px;
    }
  }
}
